.CardCov {
    height: 65px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(243, 238, 238);
    cursor: pointer;

    transition: 0.5s;
}

.CardCov:hover {
    -webkit-box-shadow: 2px 0px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 16px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 16px -6px rgba(0, 0, 0, 0.75);
    transform: scale(1.01);
}

.noneHover {
    -webkit-box-shadow: 2px 0px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 16px -6px rgba(0, 0, 0, 0.75);
    box-shadow: none;
    transform: scale(0);
}

h3 {
    margin: 0 30px;
    ion-icon {
        font-size: 13px;
    }
}

ion-icon {
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    h3:nth-child(4) {
        display: none;
    }
    h3 {
        font-size: 16px;
        margin: 0 10px;
        width: 23% !important;
    }
    .CardCov {
        img {
            display: none;
        }
        padding: 5px;
        .nation {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 4vw;
        margin: 0 10px;
    }
    ion-icon {
        font-size: 4vw;
    }
}
